{% assign enpage=site.documents | where:"ref", page.ref | where: "lang", "en" | first %}
<section class="doc-note-box" lang="en" style="font-size: .875rem;">
  <p style="margin: 0 0 .5em 0;">This volunteer translation might not reflect the intentions of the <a href="{{ enpage.url | relative_url }}">English original</a>.</p>
  <p style="margin: .5em 0;">{% include_cached icon.html name="check-circle" %} Translation up-to-date with English version.
    <br>Translation updated: {{page.last_updated | date: "%d-%b-%Y"}}. English updated: {{enpage.last_updated | date: "%d-%b-%Y"}}.
   </p>
  <p style="margin: .5em 0;">{% include_cached icon.html name="warning" %} English version updated since this translation: <a href="????">Change log</a>.
    <br>English updated: {{enpage.last_updated | date: "%d-%b-%Y"}}. Translation updated: {{page.last_updated | date: "%d-%b-%Y"}}.
  </p>
  <p style="margin: .5em 0 0 0;"><strong>Translator:</strong> {{page.translator}}. Contributors: {{page.contributors}}. WAI thanks these translators, and welcomes other <a href="{{ "/about/translating/" | relative_url }}">translations</a>.</p>
</section>
